<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Katalog Gebundene Wahlfächer - Technische Mathematik ({{ sem }})</title>
    <link href="https://tiss.tuwien.ac.at/static/2.6.3/global/images/favicon.ico" rel="icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Katalog Gebundene Wahlfächer - Technische Mathematik ({{ sem }})</h1>
        </div>
    </section>
    {% for category, items in data.items() %}
    <section class="section">
        <div class="container">
            <h2 class="subtitle">{{ category }}</h2>
            {% for lva in items %}
            <div class="box is-hidden-mobile">
                <div class="columns">
                    <div class="column is-narrow">
                        {% if lva['kind'] == 'VO' %}
                        <span class="tag is-danger">{{ lva['kind'] }}</span>
                        {% elif lva['kind'] == 'VU' %}
                        <span class="tag is-success">{{ lva['kind'] }}</span>
                        {% elif lva['kind'] == 'UE' %}
                        <span class="tag is-info">{{ lva['kind'] }}</span>
                        {% else %}
                        <span class="tag">{{ lva['kind'] }}</span>
                        {% endif %}
                    </div>
                    <div class="column is-narrow">
                        {{ lva['sem'] }}
                    </div>
                    <div class="column">
                        <a href="https://tiss.tuwien.ac.at{{ lva['link'] }}" target="_blank">{{ lva['title'] }}</a>
                    </div>
                    <div class="column is-narrow">
                        <span class="tag is-dark">{{ lva['ects'] }}</span>
                    </div>
                </div>
            </div>
            <div class="box is-hidden-tablet">
                <div class="columns is-mobile">
                    <div class="column is-narrow">
                        <div class="columns">
                            <div class="column is-vcentered">
                            {% if lva['kind'] == 'VO' %}
                            <span class="tag is-danger" style="min-width: 36px;">{{ lva['kind'] }}</span>
                            {% elif lva['kind'] == 'VU' %}
                            <span class="tag is-success" style="min-width: 36px;">{{ lva['kind'] }}</span>
                            {% elif lva['kind'] == 'UE' %}
                            <span class="tag is-info" style="min-width: 36px;">{{ lva['kind'] }}</span>
                            {% else %}
                            <span class="tag" style="min-width: 36px;">{{ lva['kind'] }}</span>
                            {% endif %}
                            </div>
                            <div class="column is-vcentered" style="padding-top: 4px;">
                                <span class="tag is-dark" style="min-width: 36px;">{{ lva['ects'] }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="columns">
                            <div class="column" style="padding-bottom: 0px;">
                                {{ lva['sem'] }}
                            </div>
                            <div class="column" style="padding-top: 0px;">
                                <a href="https://tiss.tuwien.ac.at{{ lva['link'] }}" target="_blank">{{ lva['title'] }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                by <a href="https://github.com/whiterock">whiterock</a>. Letztes Update <strong>{{ updated }}</strong>.
            </p>
        </div>
    </footer>
</body>
</html>